<div id="container">
	<div id="hero-img"></div>
	<div id="profile-img">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}">
		<div class="ratingDiv" *ngFor="let rate of ratings">
						
					<button routerLink='/members/{{member.username}}' class="rate-button" *ngIf="member.username==rate.username">
						{{getRatingSum(rate.ratings)| number : '1.0-2'}}
						<i class='fa fa-star'></i>
					</button>
					
			 </div>
		
	</div>
	<div id="content">
		<h1> {{member.knownAs}}, {{member.age}}</h1>

		
           <a routerLink='/members/{{member.username}}'> <i class="fa fa-user"></i> </a>

            <a (click)="addLike(member)"> <i class="fa fa-heart"></i> </a>

            <a routerLink='/members/{{member.username}}' 
            [queryParams]='{tab: 3}'><i class="fa fa-envelope"></i> </a>
			
		
	</div>
</div>
