<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Dating<span>App</span></h3>

        <p class="footer-links">
            <a routerLink='/' routerLinkActive='active' class="link-1">Home</a>
        
            <a routerLink='/about' routerLinkActive='active'>About</a>
            
            <a routerLink='/contact' routerLinkActive='active'>Contact</a>
        </p>

        <p class="footer-company-name">Dating App © 2021</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Ruđera Boškovića 32, 21000</span> Split, Croatia</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1.555.555.5555</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">datingapp@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the application</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>