<!-- <div class="something">
<div class="container mt-3">
    <div class="row">
            <h1>Members I rated</h1>
            
    </div>
</div>

<div class="row mt-3">
    <div class="row" *ngFor="let rate of ratings">
        <p>{{rate.id}}</p>
        
    </div>
</div> -->
<div class="something">
<div class="row">
    <table class="table">
        <tr>
            <th style="width: 20%;">Id</th>
            <th style="width: 30%;">Username</th>
            <th style="width: 30%;">Ratings</th>
            <th style="width: 20%;">Total</th>
        </tr>
        <tr *ngFor="let rate of ratings">
            <td>{{rate.id}}</td>
            <td>{{rate.username}}</td>
            <td>{{rate.ratings}}</td>
            <td>{{getRatingSum(rate.ratings)}}</td>

        </tr>
    </table>
</div>
</div>