<div class="container">
    <h2 class="title">About us</h2>
    <div class="row">
        <div class="col-6">
     <h5 class="about-info">Application that helps you find your soulmate</h5>
     <h1 class="about-info">You are single? Don't worry, we will help you find your match</h1>
     <p class="about-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illo magnam porro. 
         Dicta error assumenda a deserunt repellat placeat totam earum? 
         Saepe itaque architecto placeat accusamus eum voluptates sint quo!</p>

     <p class="about-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex illo magnam porro. 
         Dicta error assumenda a deserunt repellat placeat totam earum? 
         Saepe itaque architecto placeat accusamus eum voluptates sint quo!
         Dicta error assumenda a deserunt repellat placeat totam earum? </p>
         <button  (click)="openRegisterModal()" class="btn btn-primary btn-lg mr-2">Create account</button>

    </div>
    <div class="col-6">
        <img  class="about-pic" src="/assets/about3.png" alt="about">
    </div>
    </div>
   
</div>

<div class="two">
    <p>hhhh</p>
</div>


